* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    color: black;
}
/* Pre-format tags */

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
    font-weight: bold;
}

hr {
    width: 10%;
    color: lightgrey;
}



.centered {
    text-align: center;
}

.lefted {
    text-align: left;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.inl-block {
    display: inline-block
}

a {
    text-decoration: none;
    color: black;
}

a.colored-blue {
    color: blue;
    text-decoration: underline;
}

.click {
    display: inline-block;
    vertical-align: middle;
}

.click.blue {
    background-color: rgb(0, 97, 255);
    padding: 4px 22px;
    font-size: .8rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color: white;
}

.click.white {
    background-color: white;
    color: black;
}

.click.grey {
    background-color: white;
    color: grey;
    border: solid grey;
}

.checkbox {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: solid grey;
    border-radius: 50%;

}

svg {
    display: block;
}

svg.icon {
    display: inline-block;
}


/* Utility Classes */

.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.container-1300 {
    max-width: 1300px;
    margin: 0 auto;
}

.container-1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.container-30 {
    width: 30%;
    float: left;
}

.container-70 {
    width: 70%;
    float: left;
}

.pd-left-240 {
 padding-left: 240px;
}

.pd-right-240 {
    padding-right: 240px;
}

.pd-right-40 {
    padding-right: 40px;
}

.pd-right-20 {
    padding-right: 20px;
}

.pd-left-40 {
    padding-left: 40px;
}

.pd-left-20 {
    padding-left: 40px;
}

.pd-top-80 {
    padding-top: 80px;
}

.padd-bot-80 {
    padding-bottom: 80px;
}

.padd-bot-90 {
    padding-bottom: 90px;
}

.padd-bot-30 {
    padding-bottom: 30px;
}

.float {
    float: right;
}

/* Header */

.fixed-bar {
    width: 100%;
    background-color: white;
    line-height: 4.0rem;
    vertical-align: middle;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    top: 0%;
    z-index: 99;
}

.bar-left {
    float: left;
}

.bar-right {
    float: right;
}
.logo-nav {
    display: inline-block;
    vertical-align: middle;
}

.cont-linknav {
    display: inline-block;
    vertical-align: middle;
}

.navigazione {
    list-style: none;
    display: inline-block;
}


.link-navigazione {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 2.2em;
}

.link-navigazione.no-margin {
    margin-right: 0px;
}

/* Contenitore Header */

.cont-headext {
    background-color: rgb(180, 208, 231);
}

.cont-header {
    min-height: 840px;
    position: relative;
    z-index: 5;
    
}

.megatitle {
    padding-top: 10rem;
    display: inline-block;
}

.container-header-float {
    width: 100%;
    display: inline-block;
    
}

.cont-header p {
    display: inline-block;
    padding-bottom: 1em;
}

.cont-header p:last-child {
    padding-top: .6em;
    font-size: 1rem;
}

.container-header-float-left {
    width: 30%;
    float: left;
    padding-top: 4.5em;
    
}

.container-header-float-right {
    width: 70%;
    padding-left: 2rem;
    float: left;   
}

.container-header-float-right img {
    width: 100%;
    position: relative;
    bottom: -5em;
}